/* You can add global styles to this file, and also import other style files */
.gombdoboz {
  padding: 20px;
}
a:hover{
  filter: invert(100%);
  transition-duration: 0.5s;
}

.vizkozepre{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-right: -50%;
}
.doboz{
  margin-top: 10px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 6px;
  display: inline-block;
  width: 200px;
  text-align: center;

}
.main{
display: contents;
}
.szoveg{
  text-align: center;
}
.login{
  position: absolute;
  top: 10px;
  right: 10px;
}

